h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 12px;
}
.first {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  padding: 15px;
}

.second {
  max-width: 450px;
  width: 100%;
  background: transparent;
  border: 3px solid black;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 15px black;
  color: whitesmoke;
  border-radius: 11px;
  padding: 25px 20px;
  box-sizing: border-box;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  margin-bottom: 8px;
  color: black;
  font-weight: lighter;
}

.info input[type="text"],
.info input[type="password"],
.info select {
  width: 100%;
  padding: 12px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 15px;
  color: black;
  margin-top: 5px;
  box-sizing: border-box;
}

.rem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
  font-size: 18px;
  color: black;
}

.footer {
  display: block;
  margin: 0 auto;
  font-size: 16px;
  border-radius: 8px;
  width: 120px;
  height: 40px;
  background-color: lime;
  color: black;
  border: none;
  cursor: pointer;
}

.footer:hover {
  background-color: blue;
  color: white;
}

@media (min-width: 1200px) {
  .second {
    width: 500px;
  }

  label {
    font-size: 22px;
  }

  .info input[type="text"],
  .info input[type="password"] {
    font-size: 16px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .second {
    width: 80%;
  }

  label {
    font-size: 18px;
  }

  .info input[type="submit"] {
    width: 60%;
    margin-left: 20%;
  }
}

@media (max-width: 767px) {
  .second {
    width: 95%;
    padding: 15px;
  }

  h1 {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  label {
    font-size: 16px;
  }

  .info {
    width: 100%;
  }

  .info input[type="submit"] {
    width: 100%;
    margin-left: 0;
  }

  .rem {
    font-size: 16px;
  }

  .err_msg {
    font-size: 18px;
  }

  .footer {
    width: 70px;
    height: 30px;
    font-size: 14px;
  }
}
