.content {
  display: flex;
  flex-direction: column;
  padding-left: 1%;
}

.content h1 {
  margin-top: 5%;
}

.content p {
  margin-top: 10%;
}

h1 {
  text-decoration: underline;
  font-style: italic;
  font-size: 350%;
}

h1:hover {
  color: lime;
  transition: 0.5s;
}

p {
  font-style: italic;
  font-size: 250%;
  font-weight: bold;
}

p:hover {
  color: orange;
  transition: 0.5s;
}

.icon {
  position: fixed;
  top: 25%;
  height: 400px;
  width: 50px;
  margin-left: 96%;
  background-color: grey;
  border-radius: 60px 0 0 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.icon:hover {
  background-color: black;
}

.icon a {
  color: yellow;
}

.icon a:hover {
  color: red;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  height: 400px;
  margin: 0 auto;
  margin-top: 75px;
  padding: 10px;
  border-radius: 4px;
  width: 800px;
  background: transparent;
  border: 3px solid black;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 15px black;
  color: whitesmoke;
  border-radius: 11px;
  padding: 17px 25px;
  /* margin-left: -110px; */
}

.info h2,
.info h3 {
  text-align: left;
  font-size: larger;
}

.first {
  padding: 15px;
  border-radius: 5px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.second,
.third {
  padding: 0px;
  margin-right: 45px;
}

.second label,
.third label {
  display: grid;
  margin-bottom: 22px;
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.second input[type="text"],
.second input[type="password"],
.second select,
.third input[type="text"],
.third input[type="number"],
.third input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: none;
  font-size: 14px;
  color: black;
  margin-bottom: 20px;
}

.footer {
  width: 100px;
  margin-left: 97%;
  background-color: #4caf50;
  color: black;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-top: 10%;
  cursor: pointer;
}

.footer:hover {
  background-color: yellow;
}

#error-message {
  color: red;
  font-size: 15px;
  margin-bottom: 4%;
  margin-top: -5%;
}

.success-message {
  color: lime;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
}
