.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 0 auto;
  margin-top: 40px;
  width: 80%;
  max-width: 800px;
  background: transparent;
  border: 3px solid black;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 15px black;
  border-radius: 11px;
  padding: 20px;
}

.first {
  padding: 15px;
  border-radius: 5px;
}

.second,
.third {
  display: flex;
  flex-direction: column;
}

.second label,
.third label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.second input[type="text"],
.second input[type="password"],
.second select,
.third input[type="text"],
.third input[type="number"],
.third input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 15px;
  color: black;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.footer {
  width: 150px;
  background-color: #ec0aca;
  color: white;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.form-footer {
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

.footer:hover {
  background-color: rgb(244, 11, 11);
  color: black;
}
#error-message {
  color: red;
  font-size: 15px;
  margin-bottom: 4%;
  margin-top: -5%;
}

.success-message {
  color: lime;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 992px) {
  .info {
    grid-template-columns: 1fr;
    width: 90%;
  }

  .second,
  .third {
    grid-column: span 2;
    width: 100%;
  }

  .second input,
  .third input,
  .second select {
    width: 100%;
  }

  .footer {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .info {
    grid-template-columns: 1fr;
    width: 95%;
    gap: 15px;
    padding: 15px;
  }

  .second,
  .third {
    grid-column: span 2;
    width: 100%;
  }

  .second input,
  .third input,
  .second select {
    width: 100%;
  }

  .footer {
    width: 100%;
    font-size: 16px;
  }
}
