* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
  background: url(../../images/form_background.jpg) no-repeat center
    center/cover;
  padding: 20px;
}

.second {
  padding: 30px 40px;
  border: 3px solid grey;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 15px white;
  color: grey;
  border-radius: 11px;
  width: 100%;
  max-width: 500px;
}

h2 {
  text-align: center;
  color: orangered;
  font-size: 2rem;
  margin-bottom: 20px;
}

.input {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 8px;
  color: whitesmoke;
}

select,
input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background: transparent;
  color: orangered;
  transition: 0.3s;
}

.select:focus,
input[type="submit"]:focus {
  outline: none;
  border-color: white;
}

.error {
  color: red;
  font-size: 0.9rem;
}

.submit {
  background: transparent;
  color: whitesmoke;
  cursor: pointer;
  margin: 20px 0 15px;
  padding: 10px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.3s;
}

.submit:hover {
  background-color: blue;
  color: whitesmoke;
}

@media (max-width: 992px) {
  .first {
    min-height: 100vh;
  }
  h2 {
    font-size: 1.8rem;
  }

  select,
  input[type="submit"] {
    font-size: 0.95rem;
    padding: 8px;
  }

  .submit {
    font-size: 0.95rem;
    padding: 8px;
  }
}

@media (max-width: 768px) {
  .first {
    height: auto;
    padding: 20px 10px;
  }

  .second {
    padding: 20px;
    width: 100%;
    max-width: 100%;
  }

  h2 {
    font-size: 1.5rem;
  }

  label {
    font-size: 1rem;
  }
  select,
  input[type="submit"] {
    font-size: 0.9rem;
    padding: 6px;
  }

  .submit {
    font-size: 0.95rem;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .first {
    min-height: 90vh;
  }
  .second {
    padding: 15px;
    border-width: 2px;
    border-radius: 8px;
  }

  h2 {
    font-size: 1.3rem;
  }

  label {
    font-size: 0.95rem;
  }

  select,
  input[type="submit"] {
    font-size: 0.9rem;
    padding: 14px;
  }

  .submit {
    font-size: 0.9rem;
    padding: 6px;
  }

  .options {
    width: -100px;
  }
}
