* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../../images/rega.webp") no-repeat center center/cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  padding: 20px;
}

.f-body {
  width: 100%;
  max-width: 900px;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 25px;
  color: white;
}

.form-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background: rgba(0, 0, 0, 0.3);
  border: 3px solid grey;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 15px white;
  border-radius: 15px;
  padding: 30px;
  color: whitesmoke;
  position: relative;
}

.column-left,
.column-right {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}

input[type="text"],
input[type="password"],
input[type="file"],
select {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 12px;
  border-radius: 40px;
  border: 2px solid whitesmoke;
  background: transparent;
  color: white;
  font-size: 14px;
}

.gender {
  background-color: black;
}

.require {
  color: red;
  font-style: italic;
  font-size: 13px;
}

button.footer {
  width: 100%;
  padding: 12px;
  border-radius: 40px;
  border: none;
  background: whitesmoke;
  color: grey;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 0 10px grey;
  grid-column: 1 / -1;
}

button.footer:hover {
  background: lime;
  color: black;
}

@media (max-width: 1024px) {
  .container {
    min-height: 100vh;
  }
  .form-box {
    grid-template-columns: 1fr;
    max-width: 600px;
    margin: auto;
  }
  h1 {
    font-size: 36px;
  }
  input[type="text"],
  input[type="password"],
  input[type="file"],
  select {
    color: white;
  }
}

@media (max-width: 768px) {
  .container {
    min-height: 100vh;
  }
  .form-box {
    grid-template-columns: 1fr;
    width: 90%;
    max-width: 400px;
    padding: 20px;
  }
  h1 {
    font-size: 28px;
  }
  button.footer {
    font-size: 14px;
  }
  input[type="text"],
  input[type="password"],
  input[type="file"],
  select {
    color: white;
  }
}

@media (max-width: 480px) {
  .container {
    min-height: 100vh;
  }
  .form-box {
    width: 100%;
    padding: 15px;
    border: 2px solid whitesmoke;
  }
  h1 {
    font-size: 24px;
  }
  input[type="text"],
  input[type="password"],
  input[type="file"],
  select {
    font-size: 13px;
    padding: 10px;
    color: white;
  }
  button.footer {
    font-size: 13px;
    padding: 10px;
  }
}
