h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.sports {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
}

.each-sport {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f2f2;
  padding: 15px;
  border-radius: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.each-sport:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.sport-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.name h1 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.name h2 {
  font-size: 1rem;
  margin-bottom: 15px;
  text-align: center;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 8px 15px;
  background-color: #4caf50;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background-color: #45a049;
}

.each-sport form button {
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  background: linear-gradient(135deg, #9b59b6, #8e44ad);
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  text-align: center;
}

.each-sport form button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #8e44ad, #7d3c98);
}

.each-sport form button a {
  color: white;
  text-decoration: none;
  display: block;
}

@media (width: 912px) {
  .each-sport {
    flex-direction: column;
    width: 250px;
  }

  .sports {
    justify-content: center;
    gap: 20px;
  }

  .sport-img {
    width: 100%;
    height: 180px;
  }
}

@media (max-width: 900px) {
  .sports {
    grid-template-columns: repeat(2, 1fr);
  }

  .each-sport {
    flex-direction: column;
    width: auto;
  }

  .sport-img {
    height: 150px;
  }
  .each-sport form button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .each-sport {
    flex-direction: column;
    width: auto;
  }
  .sports {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 1.5rem;
  }

  .name h1 {
    font-size: 1.2rem;
  }

  .name h2 {
    font-size: 0.9rem;
  }

  .sport-img {
    height: 100px;
  }
  .each-sport form button {
    padding: 6px 12px;
    font-size: 0.85rem;
  }
}
